@import url("https://fonts.googleapis.com/css?family=Poppins");

*,
*::before,
*::after {
    box-sizing: border-box;
}

body
{
    background: linear-gradient(
        to right, #00AAFF, #00FF6C
    );
    margin: 0;
    padding: 0;

}

